@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2 class="h2 font-weight-bold"> Stand for trees</h2>
    </div>
</div>
<div class="row p-2">
    <div class="col-sm-5">
        <img src="~/Images/plant03.svg" alt="Plant" class="mr-3 mt-3 rounded-circle" style="width:90%;">
    </div>
    <div class="col-sm-7">
        <h2>Plant:</h2>
        <h5>[ plant, plahnt ]</h5>
        <p>
            1. Any living organism that typically synthesizes its food from inorganic substances,
            possesses cellulose cell walls, responds slowly and often permanently to a stimulus,
            lacks specialized sense organs and nervous system, and has no powers of locomotion
        </p>
        <p>
            2. Any of a wide variety of multicellular eukaryotic organisms, belonging to the kingdom
            Plantae and including the bryophytes and vascular plants. Plant cells have cell walls made
            of cellulose. Except for a few specialized symbionts, plants have chlorophyll and manufacture
            their own food through photosynthesis. Most plants grow in a fixed location and reproduce
            sexually, showing an alternation of generations between a diploid stage (with each cell
            having two sets of chromosomes) and haploid stage (with each cell having one set of
            chromosomes) in their life cycle. The first fossil plants date from the Silurian period.
            Formerly the algae, slime molds, dinoflagellates, and fungi, among other groups, were
            classified as plants, but now these are considered to belong to other kingdoms.
            See Table at taxonomy.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-sm-7">
        <h2>Amazing facts about plants </h2>
        <p>
            Plants form the backbone of the earth’s ecosystem. They provide oxygen and food, which
            is necessary for survival on earth. Plants can come in various forms such as trees, shrubs,
            flowers, etc. Here is a list of fun and interesting facts about plants which you didn’t know.
        </p>
        <p>
            1. An average size tree can provide enough wood to make 170,100 pencils.
        </p>
        <p>
            2. The first type of aspirin, painkiller and fever reducer came from the tree bark of a willow tree.
        </p>
        <p>
            3. 85% of plant life is found in the ocean.
        </p>
        <p>
            5. Bananas contain a natural chemical which can make people feel happy.
        </p>
        <p>
            6. Brazil is named after a tree.
        </p>
        <p>
            7. The Amazon rainforest produces half the world’s oxygen supply.
        </p>
        <p>
            8. Apple is 25% air, that is why it floats on water.
        </p>
        <p>
            9. The tallest tree ever was an Australian eucalyptus – In 1872 it was measured at 435 feet tall.
        </p>
        <p>
            10. Leaving the skin on potatoes while cooking is healthier as all the vitamins are in the skin.
        </p>
    </div>
    <div class="col-sm-5">
        <img src="~/Images/plant04.svg" alt="Plant" class="mr-3 mt-3 rounded-circle" style="width:90%;">
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <img src="~/Images/plant05.svg" alt="Plant" class="mr-3 mt-3 rounded-circle" style="width:92%;">
    </div>
    <div class="col-md-7">
        <h2>Why is biodiversity so important?</h2>
        <p>
            Ecosystems are amazingly complex. Soils, plants, and trees create habitat and food for
            birds and animals. Birds and animals pay it back by supporting the trees, plants, and soils.
        </p>
        <p>
            How does this work? Just a few examples: soil microbes improve conditions for plant growth.
            Animals eat plants and birds. Birds eat small animals, use trees for shelter, and spread
            trees’ seeds. And so on. The important thing is that each species has a role to play in
            keeping the system rolling.
        </p>
        <p>
            Failsafes are a second level of biodiversity. What are these? Basically, if something goes
            wrong with one member of the team, other members can pick up the slack. It’s the same reason
            business diversify into many different markets and products. For an ecosystem, it means
            having multiple species that take on similar jobs. Or, as they say, it’s wise not to put
            all your eggs in one basket.
        </p>
        <p>
            There’s also a third level: genetic diversity, which comes from having a large population.
        </p>
        <p>
            So we have to keep our tropical forests, their priceless ecosystems, and their incredible biodiversity
            intact. And that’s what Stand For Trees projects do.
        </p>
    </div>
</div>